<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="PaymentContext" connectionString="Data Source=192.163.202.232;initial catalog=Payment_DEV;user id=JNigeria_admin;password=Tolulope890@;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="PayService.Implementation.Implementation.BankService" behaviorConfiguration="MyBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBankService"
          contract="PayService.Implementation.Interface.IBankService"></endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1/PayService/BankService.svc"/>
          </baseAddresses>
        </host>
      </service>
      <service name="PayService.Implementation.Implementation.SchoolService" behaviorConfiguration="MyBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISchoolService"
          contract="PayService.Implementation.Interface.ISchoolService"></endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1/PayService/SchoolService.svc"/>
          </baseAddresses>
        </host>
      </service>
      <service name="PayService.Implementation.Implementation.PayService" behaviorConfiguration="MyBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPayService"
          contract="PayService.Implementation.Interface.IPayService"></endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1/PayService/PayService.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IBankService" maxBufferPoolSize="4096000" maxBufferSize="4096000" maxReceivedMessageSize="4096000" sendTimeout="00:20:00"
          closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00">
          <readerQuotas maxArrayLength="4096000"/>
          <security mode="None"/>
        </binding>
        <binding name="NetTcpBinding_ISchoolService" maxBufferPoolSize="4096000" maxBufferSize="4096000" maxReceivedMessageSize="4096000" sendTimeout="00:20:00"
      closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00">
          <readerQuotas maxArrayLength="4096000"/>
          <security mode="None"/>
        </binding>

        <binding name="NetTcpBinding_IPayService" maxBufferPoolSize="4096000" maxBufferSize="4096000" maxReceivedMessageSize="4096000" sendTimeout="00:20:00"
   closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00">
          <readerQuotas maxArrayLength="4096000"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      
      
      
     
     
     
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>


    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>